.navbar {
  color: #0d928d;
  font-size: 18px;
}
.navbar-brand img {
  height: 30px;
}
.navbar-nav {
  align-items: center;
}
.navbar-nav .nav-link {
  font-family: "Exo 2";
  font-size: 20px;
  font-weight: 600;
}
.nav-link svg {
  font-size: 24px;
  margin: 0 10px 0 0;
}
.navbar-light .navbar-nav .nav-link ::after {
  content: "";
  background-color: #0d928d;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  transition: width 0.5s;
  text-decoration: underline;
  border: #0d928d;
}
.nav-link .under::after {
  width: 100%;
  background-color: #0d928d;
}
button.signup-button.btn.btn-primary {
  padding: 13px 27px;
  background: #0D928D;
  border-color: aliceblue;
  font-family: "EXO 2";
  border-radius: 0;
}
.btn.btn-primary {
  padding: 13px 27px;
  background: #0D928D;
  border-color: #0D928D;
  font-family: "EXO 2";
  border-radius: 10px;
}

.btn:hover {
  background-color: #0d928d;
  color: white;
}
.navbar-brand {
  margin: 0;
}
